    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/signup.module.css")
body

    main
        if errorMessage
            .user-message.user-message--error= errorMessage
        .hero
            .signupContainer
                h2 #{pageTitle}
                form.signupForm(action="/signup", method="POST")
                    .formGroup
                        label(for="fullName") Full Name
                        input(type="text", name="fullName", id="fullName", required)
                    .formGroup
                        label(for="email") E-Mail
                        input(type="email", name="email", id="email", required)
                    .formGroup
                        label(for="password") Password
                        input(type="password", name="password", id="password", required)
                    .formGroup
                        label(for="confirmPassword") Confirm Password
                        input(type="password", name="confirmPassword", id="confirmPassword", required)
                    input(type="hidden", name="_csrf", value=csrfToken)
                    button.btn(type="submit") Signup
