@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Optionally define a CSS variable for convenience */
:root {
  --primary-font-family: 'Inter', sans-serif; /* Define variable for convenience */
}

.categoryMainContainer {
    background-color: #f0f0f0;
  }
  
  .categoryHeader {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font-family);
    font-feature-settings: "liga", "ss08";
    height: 95vh;
    line-height: 24px;
    padding-bottom: 64px;
    padding-top: 13rem;
    tab-size: 4;
    text-size-adjust: 100%;
    background: linear-gradient(180deg, #110729, #080411);
    border-bottom: 1px solid #41403f63;
    color: #E7E6E8; 
  }
  
  .categoryHeader h1 {
    box-sizing: border-box;
    display: block;
    font-family: var(--primary-font-family);
    font-feature-settings: "liga", "ss08";
    font-size: 76.892px;
    font-weight: 400;
    height: 153.775px;
    line-height: 76.892px;
    margin-block-end: 24px;
    margin-bottom: 24px;
    padding-left: 12rem;
    tab-size: 4;
    text-size-adjust: 100%; 
  }
  
  .categoryHeader p {
    box-sizing: border-box;
    color: #b6b5b8;
    display: inline;
    font-family: var(--primary-font-family);
    font-feature-settings: "liga", "ss08";
    font-size: 23.3991px;
    height: auto;
    line-height: 24px;
    padding-left: 12rem;
    tab-size: 4;
    text-size-adjust: 100%;
  }
  
  .subheadcategory{
    background: linear-gradient(to right, #dcd0f5, #9775e0, #dcd0f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .categoryFundButton {
    align-items: center;
    background-color: #6F41D2;
    border-radius: 12px;
    border-style: solid;
    border-width: 0.8px;
    border: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-left-width: 0.8px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--primary-font-family);
    font-feature-settings: "liga", "ss08";
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    line-height: 16px;
    margin-left: 12rem;
    margin-top: 4rem;
    min-height: 48px;
    max-width: 12rem;
    transition: 0.1s ease;
  }
  
  .categoryFundButton:hover{
    background-color: #6764e2;
  }
  .categoryMid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #080411;
    list-style: none;
    width: 100%;
  }
  
  .categoryList{
    margin: 2rem auto;
    width: 86.9%;
  }

  .categoryItem {
    width: 17.5rem;
    text-align: center;
    background-color: #ffffff; 
    padding: 19px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-family: var(--primary-font-family);
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .categoryItem img {
    width: 100%; 
    height: auto;
    display: block; 
    border-radius: 8px;
  }
  
  .categoryItem .categoryTitle {
    display: block; 
    margin-top: 17px; 
    font-weight: bold; 
    color: rgb(83, 78, 78);
  }
  
  .categoryItem a {
    text-decoration: none;
  }