.category-header {
    border-width: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'CircularXXWeb', Trebuchet, Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "ss08";
    height: 95vh;
    line-height: 24px;
    padding-bottom: 64px;
    padding-top: 13.5rem;
    tab-size: 4;
    text-size-adjust: 100%;
    background-color: #F0F0F0;
    border-bottom: 1px solid #41403f63;
}

.category-header h1 {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    box-sizing: border-box;
    color: #E7473C;
    display: block;
    font-family: 'CircularXXWeb', Trebuchet, Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "ss08";
    font-size: 76.892px;
    font-weight: 400;
    height: 153.775px;
    line-height: 76.892px;
    margin-block-end: 24px;
    margin-block-start: 0px;
    margin-bottom: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-left: 12rem;
    margin-right: 0px;
    margin-top: 0px;
    tab-size: 4;
    text-size-adjust: 100%; 
}

.category-header p {
    box-sizing: border-box;
    color: #e7473cb5;
    display: inline;
    font-family: 'CircularXXWeb', Trebuchet, Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "ss08";
    font-size: 23.3991px;
    height: auto;
    line-height: 24px;
    margin-bottom: 0px;
    padding-left: 12rem;
    tab-size: 4;
    text-size-adjust: 100%;
}

.category-fund-button {
    align-items: center;
    appearance: none;
    background-color: #E7473C;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 0.8px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top-style: solid;
    border-top-width: 0.8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: 'CircularXXWeb', Trebuchet, Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "ss08";
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    line-height: 16px;
    margin-left: 12rem;
    margin-top: 4rem;
    min-height: 48px;
    max-width: 12rem;
    tab-size: 4;
}

.category-main-container{
    background-color: #f0f0f0;
}

.category-mid {
    max-width: 80rem;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2rem;
    margin: 2rem auto;
    padding: 0;
    list-style: none;
}

.category-item {
    text-align: center;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-item img {
    width: 100%; 
    height: auto;
    display: block; 
    border-radius: 8px 8px 0 0;
}

.category-item .category-title {
    display: block; 
    margin-top: 10px; 
    font-weight: bold; 
}



