@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Optionally define a CSS variable for convenience */
:root {
  --primary-font-family: 'Inter', sans-serif; /* Define variable for convenience */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.main-cover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
    width: 100vw;
    height: 95vh;
    overflow: hidden; 
    background: linear-gradient(180deg, #110729, #080411 45%);
    border-bottom: 1px solid #41403f63;
    font-family: var(--primary-font-family);
    /*#1A0941*/
}

.small-button {
  padding: 0.6rem 0.8rem; 
  font-size: 1rem; 
  color: #E7E6E8; 
  border: 0.5px solid #A385E2; 
  border-radius: 45px; 
  display: inline-block; 
  background: none; 
  align-self: flex-start;
  margin-left: 3.2rem;
  margin-bottom: 0.4rem;
  background: linear-gradient(to right, #dcd0f5, #9775e0, #dcd0f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.frontpage-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: #E7E6E8;
  z-index: 4; 
  padding-top: 190px;
}

.desc {
    display: block;
    font-size: 4rem;
    z-index: 4;
    font-weight: 600;
    background: linear-gradient(to right, #dcd0f5, #9775e0, #dcd0f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.frontpage-desc p{
  padding-top: 20px;
    font-size: 1.5rem;
    width: 100%;
    color: #b6b5b8;
}

.fund-button {
  display: block;
  margin-top: 80px;
    padding: 0.9rem 2rem;
    font-size: 1.2rem;
    background-color: #6F41D2;
    color: #E7E6E8; 
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 4;
}

.fund-button:hover {
    background-color: #F0F0F0; 
}

