.dropmenu{
    display: flex;
    flex-direction: column;
    width: 10rem;
    position: absolute;
    list-style: none;
    text-align: start;
}

.dropmenu li{
    background-color: #E7473C;
    cursor: pointer;
}

.dropmenuitems {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #F0F0F0;
    padding: 16px;
}