.dropmenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 120px;
    width: 21%;
    position: absolute;
    list-style: none;
    padding-top: 10px;
    background-color: #191133;
    border-radius: 10px;
}

.dropmenu li{
    cursor: pointer;
}

.dropmenuitems {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #E7E6E8;
    font-family: 'CircularXXWeb', Trebuchet, Helvetica, Arial, sans-serif;
}

.dropmenuitems h3{
    font-size: 0.9rem;
    font-weight: 100;
    padding-top: 0.4rem;
}
.dropmenuitems p{
    font-size: 0.8rem;
    padding-top: 0.2rem;
    color: #b6b5b8;
}