.navbar {
    position: fixed;
    padding-top: 1rem;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10; 
    background-color: rgb(17, 7, 41, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #4b2f8863;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar li {
    margin: 0 1rem;
    font-family: var(--primary-font-family);
}

.logo {
    font-size: 0.95rem;
    border: none;
    padding: 0.8rem 0.8rem;
    color:#E7E6E8;
    background: none;
    cursor: pointer;
}

.button {
    padding: 0.8rem 0.8rem;
    font-size: 0.95rem;
    color: #E7E6E8;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.1s ease;
    background: none;
}

.button:hover {
    color: #b6b5b8;
    background: none;
}