.navbar {
    position: fixed;
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(17, 7, 41, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #4b2f8863;
  }
  
  .navList {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  .navList li {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
  
  .logoLink {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 133px;
    height: auto; 
    background: none;
    cursor: pointer;
  }
  
  .button {
    padding: 1.4rem 0.8rem;
    font-size: 1rem;
    color: #E7E6E8;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.1s ease;
    background: none;
  }
  
  .button:hover {
    color: #b6b5b8;
    background: none;
  }
  